* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

nav {
    display: flex;
    background-color: rgb(167, 98, 231);
    justify-content: space-around;
    /* padding: 20px 0; */
    color: rgb(223, 223, 223);
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;

}

nav ul li a {
    color: rgb(223, 223, 223);
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: rgb(242, 241, 241);
}


/* Hanburger Menu */

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(223, 223, 223);
    border-radius: 3px;
}


/* Responsive breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}


/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }
}